  
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@media (max-width:1170px) {
.main-menu {
  display: none;
}

.cart {

position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 15px;
}

.nav-thinbar {

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 65px;
  z-index: -1;
  max-width: 100%;
  height: 4px;
  }

.navbar-mobil {

  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #646f82;
  z-index: 99;
}

#nav-icon1m {
  width: 60px;
  height: 5px;
  position: relative;
  margin: 20px -55px auto auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  pointer-events: none;
  z-index: 6;
}

#nav-icon1m span {
  display: block;
  position: absolute;
  height: 4px;
  width: 52%;
  background: #c2c6cc;
  border-radius: 25px;
  opacity: 0.9;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1m span:nth-child(1) {
  top: 0px;
}

#nav-icon1m span:nth-child(2) {
  top: 10px;
}

#nav-icon1m span:nth-child(3) {
  top: 20px;
}

#nav-icon1m.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1m.open span:nth-child(2) {
  opacity: 0;

}

#nav-icon1m.open span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}



#drawer-togglem {
  position: absolute;
  opacity: 0;
}

#drawer-toggle-labelm {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 35px;
  height: 70px;
  width: 100px;


  background: rgba(255, 255, 255, .0);
  z-index: 1;
}



#drawerm {
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  position: fixed;
top: 70px;
  right: -130%;
  height: 90%;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
 
  overflow-x: hidden;
  padding: 20px;
  -webkit-overflow-scrolling: touch;

}

/* actual page content pane */



/* checked styles (menu open state) */



#drawer-togglem:checked~#drawer-toggle-labelm,
#drawer-togglem:checked~header {
  right: 0px;
}

#drawer-togglem:checked~#drawerm {
  right: 0px;
}



/* Menu item styles */

.arrow-svg {
  
  


margin-left: 10px;
  width: 13px;
  height: auto;
  cursor: pointer;


}  

#drawerm ul {
  list-style-type: none;
  margin: 70px 10px 0px 105px;
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
  font-weight: 400;
  background-color: #fff;
  
}

#drawerm ul a {
  display: block;
  padding: 20px;
  color: #7191a3;
  text-decoration: none;
}

#drawerm  {
  display: block;
  padding: 35px;
  color: #7191a3;
  text-decoration: none;
}

#drawerm ul a:hover {
  color: #0c3044;
}


.calendarm {
  padding: 20px;
  max-width: 50%;
  height: auto;
}

.dropdown-btn-m {
  font-family: 'Barlow', sans-serif;
  padding: 20px;
  color: #7191a3;
  font-weight: 400;
  text-decoration: none;
  font-size: 24px;
  display: block;
  border: none;
  background: none;
  width: 150%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn-m:hover {
  color: #0c3044;
  font-weight: 400;

}

.dropdown-container-m {
  display: none;
  background-color: #fff;
 
  font-size: 14px;
  font-family: 'Barlow', sans-serif;

}

.prøve-m {
  display: grid;
  grid-template-columns: 1fr;
  padding: 6px;
}

.roter{
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.roter.ned{
  -moz-transform:rotate(-180deg);
  -webkit-transform:rotate(-180deg);
  transform:rotate(-180deg);
  transform-origin: center center;
 

}

.roter1{
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.roter1.ned{
  -moz-transform:rotate(-180deg);
  -webkit-transform:rotate(-180deg);
  transform:rotate(-180deg);
  transform-origin: center center;
 

}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.down {
  -moz-transform: translate(0px, -18px);
  -webkit-transform: translate(0px, -18px);
  -o-transform: translate(0px, -18px);
  -ms-transform: translate(0px, -18px);
  transform: translate(0px, -18px);
}


.up {
  position: relative;
  top: -85px;
  z-index: 3;
  -moz-transform: translate(0px, 108px);
  -webkit-transform: translate(0px, 108px);
  -o-transform: translate(0px, 108px);
  -ms-transform: translate(0px, 10px);
  transform: translate(0px, 65px);
  animation: fadeIn ease 0.7s;
}


}


@media only screen and (min-width: 300px) {

  .Marquee {
 background: #e8e1dc;
    width: 100.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    color: #fff;
    font-weight: 200;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
  }
  .Marquee-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-animation: marquee 35s linear infinite running;
    -moz-animation: marquee 35s linear infinite running;
    -o-animation: marquee 35s linear infinite running;
    -ms-animation: marquee 35s linear infinite running;
    animation: marquee 35s linear infinite running;
  }

  .Marquee div:before {
    content: url('billeder/navigation/TJEK.png');
    font: normal normal normal 16px/1 FontAwesome;
    position: static;
    margin-right: 7px;
    letter-spacing: 2.4px;
    color: #dadee5;
}

  .Marquee-content:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
  }
  .Marquee-tag {
    width: 500px;
font-family: 'Ubuntu', sans-serif;
font-weight: 500;
color: #646f82;
 
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .Marquee-tag:hover {
    background: rgba(255,255,255,0.5);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
  }
  @-moz-keyframes marquee {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  @-o-keyframes marquee {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  @keyframes marquee {
    0% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -o-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }
  

/* Innertopbar - kort og basket */


.innertopbar {
 display: none;
  
}

.innertopbar-mobil {
  display: block;
  margin-bottom: 50px;
}

.topbar {
  display: none;
}

.skygge {
    z-index: 1;
    margin-top: -70px;
    position: relative;
    margin-right: 90px;
}

.infowrapper {
    display: flex;
    align-self: center;
}

.innertoptext {
  font-family: "Barlow";
  font-size: 14px;
  letter-spacing: 1.2px;
  color: grey;
  display: flex;
  position: relative;
  align-self: center;
}



.phoneinfo {
  display: flex;
  font-family: "Barlow";
  font-size: 18px;
  letter-spacing: 1.2px;
  color: grey;
 padding-right: 30px;
  position: relative;
  align-self: center;
}

/* Logo bar */

.logobar {
 display: none;
}

.logobar-mobil {
  display: block;
}

.searchbar {
  margin-top: 60px!important;
  cursor: pointer;
  width: 50%;
  height: 50px;
}

.logowrapper {
    display: block;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
}

.logowrapper-mobil {
 display: block;
  width: 100%;
}

.ikoner-L {
  display: inline-flex;
  margin-top: -50px;
  float: right;
 margin-right: 10px;
  
}

.ikoner-nav {
  display: inline-flex;
  margin-top: 20px;
  float: left;
 margin-left: 5px;
  
}

.logobar-mobil img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.icon {
  display:block;
  width: 50px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-mobil .icon {
  display:block;
  width: 40px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-facebook {
  display:block;
  margin:10px 5px auto 5px;
  cursor: pointer;
  background-image: url(billeder/facebook.png);
}



.icon-facebook:hover,
.icon-facebook:focus {
  background-image: url(billeder/facebook-hover.png);
}

.icon-phone {
  display:block;
  margin: 20px 5px auto 25px;
  cursor: pointer;
  background-image: url(billeder/navigation/phone.png);
}



.icon-phone:hover,
.icon-phone:focus {
  background-image: url(billeder/navigation/phone-hover.png);
}

.icon-inset {
  display:block;
  margin: -5px 5px auto 0px;
  cursor: pointer;
  background-image: url(billeder/navigation/inset-vline.png);
}

.icon-inset-backwards {
  display:block;
  margin: -5px -70px auto 0px;
  cursor: pointer;
  background-image: url(billeder/navigation/inset-vline.png);
}


.icon-insetv {
  display:block;
  width: 50px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}


.icon-vline {
  display:block;
  margin:20px 1px auto 1px;
  cursor: pointer;
  background-image: url(billeder/mini-line.png);
  height: 23px;
}

.icon-instagram {
  display:block;
  margin:10px 5px auto -32px;
  cursor: pointer;
  background-image: url(billeder/instagram.png);
}

.icon-instagram:hover,
.icon-instagram:focus {
  background-image: url(billeder/instagram-hover.png);
}




.justify {
display: flex;
justify-content: center;
align-items: center;
}





.nav-txt {
    margin: 0 55px;
    text-decoration: none;
    color: #646e82;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    height: 50px;
    padding-top: 25px;
    z-index: 99;
    
}


.nav-txt:hover {
  background-image: url(billeder/nav-hover.png);
background-position-y: 5px;

  background-repeat: no-repeat;
  

}

.LINE {
  background-color: #fff;
  min-height: 15px;

}

hr.streg {
  background-color: #bfc3c6;
  width: 99.9%;
  opacity: 0.5;
  margin-top: 15px;
  z-index: 55;
}


/* Slider */


.carousel {
  background: #EEE;
  
}

.carousel-cell {
  width: 100%;
  height: 600px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}



/* position dots in gallery */
.flickity-page-dots {
  bottom: 10px!important;
  text-align: right!important;
  width: 80%!important;
  
}
/* white circles */
.flickity-page-dots .dot {
  width: 15px!important;
  height: 15px!important;
  opacity: 0.5!important;
  background: white!important;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: purple!important;
}


.slider-img {
  width: 101%;
  height: 600px;
    object-fit: cover;
}

.slider-txt {
   position: absolute;
   top: 53px;
   left: 15%;
  
}

.lille-h2 {
  color: white; 
   font-size: 25px;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 500;
}

.større-h2 {
   margin: 1px 0;
   font-size: 40px;
   color: white;
   letter-spacing: 3px;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 700;
}

.badge {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 150px;
   height: 200px;
   width: 200px;
   background-image: url(billeder/badge1.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
 
}



.læsmere {
   background-image: url( 'billeder/button.png');
   background-size: 100% 100%;
 background-repeat: no-repeat;
 height: 60px;
 background-color: transparent;  
 width: 250px;
 border: none;
 outline: none;
 cursor: pointer;
 position: absolute;
 font-size: 22px;
 font-family: 'Ubuntu', sans-serif;
   font-weight: 400;
   color: #fff;
   letter-spacing: 2.5px;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   bottom: 70px;
 -webkit-transition: 0.4s ease-in-out;
 transition: 0.4s ease-in-out;
}

.læsmere:hover,
 .læsmere:focus {
   background-image: url( 'billeder/button-hover.png' );

   opacity: 1;
   color: #fff;
  
 -webkit-transition: 0.4s ease-in-out;
 transition: 0.4s ease-in-out;
   }

/* Nyheder */

.nyheder-mobil {
  position: relative;
  z-index: 1;
 display: block;
 margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.nyheder {
 display: none;
}

.nyheder-h3 {
position: relative;
z-index: 3;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
font-size: 22px;
color: #5b6770;
text-align: center;
margin-top: -50px;
letter-spacing: 2.5px;
}


/* Produkt kort */


.main-mobil{
max-width: 100%;
margin: 0 auto;
display: flex;
height: 700px;
justify-content: center;
justify-items: center;
}

.main{
display: none;

  }

.main-mobil img {
display: block;
margin: 10px auto;
height: auto;
max-width: 100%;
}



.cards {
  display: flex;
height: 250px;
width: 280px;
list-style: none;
margin: 0;
padding: 0;
}


.cards_item {
padding: 1rem;
justify-content: center;
justify-items: center;
}

@media (min-width: 70rem) {
.cards_item {
  width: 100%;
}
}

@media (min-width: 106rem) {
.cards_item {
  width: 33.3333%;
}
}

.card {
background-color: white;
border-radius: 0.25rem;
border: 1px solid #bfc3c6;
display: flex;
-moz-transition: width 0.3s ease-in-out;
-o-transition: width 0.3s ease-in-out;
-webkit-transition: width 0.3s ease-in-out;
transition: width 1.3s ease-in-out;
flex-direction: column;
overflow: hidden;
}



.card_content {
position: relative;
height: 400px;

}



.nyhed {
position: absolute;
z-index: 44;
top: -242px;
left: -1px;
}



.card_title {
color: #ffffff;
font-family: 'Ubuntu', sans-serif;
font-size: 1.1rem;
font-weight: 700;
letter-spacing: 1px;
margin: 0px;
padding-top: 10px;
text-align: center;
margin-bottom: 10px;
}

.bg {
background-image: url(billeder/cards/headline.png);
background-size: 100% 100%;
height: 50px;

}

.card_text {
color: #ffffff;
font-size: 0.875rem;
line-height: 1.5;
margin-bottom: 1.25rem;    
font-weight: 400;
}


.pris {
position: relative;
z-index: 1;
display: block;
margin: 0 auto;

}

.pris-p {
position: relative;
z-index: 3;
font-family: 'Ubuntu', sans-serif;
font-weight: 500;
font-size: 20px;
color: #5b6770;
text-align: center;
margin-top: -45px;
letter-spacing: 2.5px;
}

.lager {
position: relative;
z-index: 1;
display: block;
margin: 0 auto;

}

.lager-p {
position: relative;
z-index: 3;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 10px;
color: #5b6770;
text-align: center;
margin-top: -35px;
letter-spacing: 2.5px;
}




.clickable {
display: flex;
justify-content: space-around;




}

.clickable-nostock {
display: flex;
justify-content: center;




}

.ikoner {
display: inline-block;
width: 50px;
height: 50px;
pointer-events: visible;
background-size: cover;
-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}

.infoknap {
display:block;
margin:60px 5px auto 5px;
cursor: pointer;

background-image: url(billeder/cards/info.png);
}
.infoknap:hover,
.infoknap:focus {
width: 190px;
height: 55px;
margin:60px -5px auto 0px;
background-image: url(billeder/cards/info-hover.png);
}

.kurvknap {
display:block;
margin:60px 5px auto 5px;
cursor: pointer;
background-image: url(billeder/cards/kurv.png);
}
.kurvknap:hover,
.kurvknap:focus {
width: 185px;
height: 55px;
margin:60px 0px auto -5px;
background-image: url(billeder/cards/kurv-hover.png);
}

.tilbud {
position: relative;
z-index: 11;
display: block;
margin: 0 auto;

}

.tilbud-p {
position: relative;
z-index: 13;
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
font-size: 10px;
color: #5b6770;
text-align: center;
margin-top: -25px;
text-decoration: #904957 line-through;
letter-spacing: 2.5px;
}


.input-number {
width: 60px;
padding: 0 12px;
text-align: center;
outline: none;
border-radius: 4px 0 0 4px;
background-image: url(billeder/cards/input.png);
background-repeat: no-repeat;
background-size: 100% 100%;
color: black;
}

.input-number,
.input-number-decrement,
.input-number-increment {
border: 1px solid #ccc;
height: 30px;
user-select: none;
border-radius: 4px 0 0 4px;
color: black;
}

.input-number-decrement,
.input-number-increment {
display: inline-block;
width: 30px;
line-height: 30px;
background: transparent;
color: transparent;
text-align: center;
font-weight: bold;
cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
background-image: url(billeder/cards/input.png);
background-repeat: no-repeat;
background-size: contain;
}

.input-number-decrement {
border-right: none;
border-radius: 20px 0px 0px 20px;
}

.input-number-increment {
border-left: none;
border-radius: 0px 20px 20px 0px;
}

.up {
background-image: url(billeder/cards/up.png);
background-repeat: no-repeat;
position: relative;
z-index: 56;
background-position: center;
background-size: 15px;
}

.down {
background-image: url(billeder/cards/down.png);
background-repeat: no-repeat;
position: relative;
z-index: 56;
background-position: center;
background-size: 15px;
}

.inputfelt {
padding-left: 45px;
}


/* Footer*/

.footer {
display: none;
}

.footer-mobil {
  display: block;
  background-color: #353e4f;
  margin-top: 80px;
  height: 600px;
width: 100.5%;
  }

.footer-mobil .thinbar {
display: none;
}



.footer-mobil .logoimg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 500px;
max-width: 100%;
height: auto;

}

.footer-mobil .navn {
position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 420px;
letter-spacing: 2px;
color: #878f9c;
font-size: 20px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
}

.footer-logo {
position: absolute;
bottom: 450px;
right: 10%;
}

.footer-mobil .slider-adresse {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
 


bottom: 250px;

}

.footer-mobil .slider-adresse img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 230px;
  max-width: 90%;
  height: auto;
}

.footer-mobil .linje1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 240px;
  
  max-width: 90%;
  height: auto;
}


.footer-mobil .linje2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 150px;
  
  max-width: 90%;
  height: auto;
}

.adresse {
display: block;
text-align: right;
letter-spacing: 2px;
color: #878f9c;
font-size: 14px;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
text-align: center;

}

.adresse-tlf {
display: block;
text-align: center;
letter-spacing: 2px;
color: #878f9c;
font-size: 22px;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;

}

.footer-line {
display: block;
width: 80%;
height: auto;
position: absolute;
bottom: 3.5%;
left: 10%;
}

.footer-mobil .bund-line {

display: none;
}

.span-margin {
margin: 0px 30px;
}

.footer-mobil .footer-info {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
pointer-events: none;
}

.footer-mobil .footer-info img{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 80px;
}

.footer-mobil .footer-info p{
display: block;
margin-top: -40px;
letter-spacing: 2px;
color: #878f9c;
font-size: 14px;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
text-align: center;

}




button {
padding-top: 10px;
padding-bottom: 9px;
}


.footer-mobil .handelsbetingelser {
background-image: url( 'billeder/footer/button.png');
background-size: 100% 100%;
background-repeat: no-repeat;
height: 60px;
background-color: transparent;  
max-width: 90%;
border: none;
outline: none;
cursor: pointer;
font-size: 22px;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
color: #878f9c;
letter-spacing: 1.5px;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;

bottom: 170px;
-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}

.handelsbetingelser:hover,
.handelsbetingelser:focus {
background-image: url( 'billeder/footer/button-hover.png' );

opacity: 1;
color: #fff;

-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}


/* footer slut*/


}

@media only screen and (min-width: 1170px) {

header {
  display: none;
}

.navbar-mobil {
  display: none;

}
/* Top bar */

.main-menu {
  display:block;
  position:relative;
  background:white;
  z-index: 99;
  position: sticky;
  position: -webkit-sticky;
 
}
.container-menu {
  width:90%;
  margin:0 auto;
}
.main-menu:before,.main-menu:after{
  display: table;
  line-height: 0;
  content: "";
}
.core-menu {
  text-align:center;
  font-family: 'Ubuntu', sans-serif;
font-weight: 400;
  overflow:hidden;
  margin-top: 30px;
}
.core-menu li {
  list-style:none;
  display:inline-block;
  cursor:pointer;
  margin: 0px 1%;
  
}
.core-menu li a {
  font-family: 'Ubuntu', sans-serif;
font-weight: 400;
color: #646e82;
  display:inline-block;
  padding:1em;
}
.core-menu li a:hover {
  background-image: url(billeder/nav-hover.png);
  background-repeat: no-repeat;
}
li span.toggle {
  padding-left:1em;
}
.toggle:before {
  content:"\f107";
  font:normal normal normal 16px/1 FontAwesome;
}

/* Dropdown menuer i navigations header */

.dropdown {
  border-radius: 32px;
  position:absolute;
  width:230px;
  background: white;
  text-align:left;
  display:none;
  background-image: url(billeder/menu-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 99;
}
.dropdown li {
  display:block;
  }
.dropdown li a {
  display:block;
}
.dropdown li a:hover {
  background-image: url(billeder/nyheder.png);
  color: black;
  background-repeat: no-repeat;
}

.dropdown2 {
  position:absolute;
  width:230px;
  background-image: url(billeder/dropdown2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background:#fff;
  text-align:left;
  display:none;
  right:-100%;
  top:160px;
  z-index: 99;
}
.dropdown2 li {
  display:block;
  }
.dropdown2 li a {
  display:block;
}

.dropdown3 {
  position:absolute;
  width:230px;
  background-image: url(billeder/dropdown2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background:#fff;
  text-align:left;
  display:none;
  right:-100%;
  top:400px;
  z-index: 99;
}
.dropdown3 li {
  display:block;
  }
.dropdown3 li a {
  display:block;
}

.dropdown4 {
  position:absolute;
  width:230px;
  background-image: url(billeder/dropdown2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background:#fff;
  text-align:left;
  display:none;
  right:-100%;
  top:650px;
  z-index: 99;
}
.dropdown4 li {
  display:block;
  }
.dropdown4 li a {
  display:block;
}

.dropdown5 {
  position:absolute;
  width:230px;
  background-image: url(billeder/dropdown2.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background:#fff;
  text-align:left;
  display:none;
  right:-100%;
  top:850px;
  z-index: 99;
}
.dropdown5 li {
  display:block;
  }
.dropdown5 li a {
  display:block;
}

/* Dropdown menuer i navigations header */

li span.toggle2 {
  position:absolute;
  right:0;
  margin-right:20px;
}
.toggle2:before {
  content:"\f105";
  font:normal normal normal 16px/1 FontAwesome;
}
.hamburger-menu {
  padding:1em;
  display:none;
  font:normal normal normal 16px/1 Roboto;
  text-transform:uppercase;
}



 .topbar {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #d2d3d4;
    background-image: url(billeder/topbar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2px 0 2px 0;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  .topcontainer {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }

  #skygge {
    background-image: url(billeder/skygge.png);
    background-repeat: no-repeat;

 background-size: 100%;

pointer-events: none;
}

  .topelement {
    display: inline-block;
    vertical-align: middle;
  }

  .topelement li {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #dadee5;
    display: inline-block;
    position: relative;
    padding: 0 29px;
    vertical-align: middle;
  }

  .topelement a {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.8px;
    color: #dadee5;
    display: inline-block;
    position: relative;
    padding: 0 29px;
    vertical-align: middle;  
  }

  .topelement a:before {
    content: url('billeder/phone.png');
    font: normal normal normal 16px/1 FontAwesome;
    position: static;
    margin-right: 7px;
    letter-spacing: 2.4px;
    color: #dadee5;
  }


  .topelement div {
   
    display: inline-block;
    position: relative;
    padding: 0 29px;
    vertical-align: middle;  
  }

 .topelement li:before {
    content: url('billeder/checkmark.png');
    font: normal normal normal 16px/1 FontAwesome;
    position: static;
    margin-right: 7px;
    letter-spacing: 2.4px;
    color: #dadee5;
}

/* Innertopbar - kort og basket */

.innertopbar {
    display: flex;
    position: absolute;
    left: 52%;
    padding: 5px 0 24px;
    text-align: right;
    margin-right: 10%;
    z-index: 3;
    
  }

  .innertopbar-mobil {
    display: none;
  }

  .skygge {
      z-index: 1;
      margin-top: -70px;
      position: relative;
      margin-right: 90px;
  }

  .infowrapper {
      display: flex;
      align-self: center;
  }
  
  .innertoptext {
    font-family: "Barlow";
    font-size: 14px;
    letter-spacing: 1.2px;
    color: grey;
    display: flex;
    position: relative;
    align-self: center;
  }
  


  .phoneinfo {
    display: flex;
    font-family: "Barlow";
    font-size: 18px;
    letter-spacing: 1.2px;
    color: grey;
   padding-right: 30px;
    position: relative;
    align-self: center;
  }
  
/* Logo bar */

.logobar {
    display: flex;
   justify-content: space-between;
    
    
    margin-top: 70px;
    width: 100%;
  }

  .logobar-mobil {
    display: none;
  }

.searchbar {
    margin-top: 60px;
    cursor: pointer;
    width: 10%;
    height: 50px;
}

  .logowrapper {
      display: flex;
      justify-content: space-evenly;
      align-self: center;
      width: 100%;
  }
  
  .ikoner-L {
    display: inline-flex;
    margin-top: 70px;
    float: left;
   margin-right: 40px;
    
  }



  .icon {
    display: inline-block;
    width: 40px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .icon-facebook {
    display:block;
    margin:10px 5px auto 5px;
    cursor: pointer;
    background-image: url(billeder/facebook.png);
  }

  .home {
    position: relative;
   margin-bottom: -10px;
    cursor: pointer;
    background-image: url(billeder/home.png);
  }

  .home:hover,
  .home:focus {
    background-image: url(billeder/home-hover.png);
  }
  
  .icon-facebook:hover,
  .icon-facebook:focus {
    background-image: url(billeder/facebook-hover.png);
  }

  .icon-vline {
    display:block;
    margin:15px 1px auto 1px;
    cursor: pointer;
    background-image: url(billeder/mini-line.png);
    height: 23px;
  }

  .icon-instagram {
    display:block;
    margin:10px 5px auto -22px;
    cursor: pointer;
    background-image: url(billeder/instagram.png);
  }
  
  .icon-instagram:hover,
  .icon-instagram:focus {
    background-image: url(billeder/instagram-hover.png);
  }

/* Navigationsbar */
 
  .nav-container {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    z-index: 99;
    margin-top: 50px;
  background-color: white;
  top:0;
    width: 100%;
  }
  
  ul,
  li {
    list-style: none;
    -webkit-padding-start: 0;
  }
  
  
  .nav-item {
    padding: 10px;
    display: inline;
    
  }
  
.nav-items {

    display: flex;
    justify-content: center;
    align-items: center;
}

  .nav-item-dropdown {
    position: relative;
    z-index: 99;
  }
  .nav-item-dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
  
  .dropdown-trigger {
    position: relative;
  }
  .dropdown-trigger:focus + .dropdown-menu {
    display: block;
    opacity: 1;
  }
  .dropdown-trigger::after {
    content: "›";
    position: absolute;
    color: #a6a6a6;
    font-size: 16px;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  
    right: 40px;
    bottom: -15px;
  }
  
  .dropdown-menu {
    background-color: #fff;
    display: inline-block;
    text-align: right;
    position: absolute;
    border-radius: 15px;
    border: 0.5px solid grey;
    top: 2.5rem;
    right: 30px;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    width: 160px;
  }
  .dropdown-menu a {
        text-decoration: none;
        color: #a6a6a6;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
      
        
  }
  
  .dropdown-menu-item {
    cursor: pointer;
    padding: 1em;
    text-align: center;
  }
  .dropdown-menu-item:hover {
    background-color: rgb(230, 220, 220);
    border-radius: 15px;
  }
  


  

.justify {
  display: flex;
  justify-content: center;
  align-items: center;
}





  .nav-txt {
      margin: 0 55px;
      text-decoration: none;
      color: #646e82;
      font-size: 16px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
      height: 50px;
      padding-top: 25px;
      z-index: 99;
      
  }


  .nav-txt:hover {
    background-image: url(billeder/nav-hover.png);
  background-position-y: 5px;
 
    background-repeat: no-repeat;
    

}

  .LINE {
    background-color: #fff;
    min-height: 15px;

}

hr.streg {
    background-color: #bfc3c6;
    width: 99.9%;
    opacity: 0.5;
    margin-top: 15px;
    z-index: 55;
}


/* Slider */


.carousel {
    background: #EEE;
    
  }
  
  .carousel-cell {
    width: 100%;
    height: 600px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }
  

  
  /* position dots in gallery */
  .flickity-page-dots {
    bottom: 10px!important;
    text-align: right!important;
    width: 80%!important;
    
  }
  /* white circles */
  .flickity-page-dots .dot {
    width: 15px!important;
    height: 15px!important;
    opacity: 0.5!important;
    background: white!important;
    border: 2px solid white;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
    background: purple!important;
  }


  .slider-img {
    width: 101%;
    height: 600px;
      object-fit: cover;
  }
 
  .slider-txt {
     position: absolute;
     top: 53px;
     left: 15%;
    
 }
 
 .lille-h2 {
    color: white; 
     font-size: 1.4vw;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 500;
 }
 
 .større-h2 {
     margin: 1px 0;
     font-size: 3.5vw;
     color: white;
     letter-spacing: 3px;
     font-family: 'Ubuntu', sans-serif;
     font-weight: 700;
 }
 
 .badge {
     position: absolute;
     margin-left: 0px;
     margin-right: 0px;
left: 62%;
bottom: 25%;
     height: 250px;
     width: 250px;
     background-image: url(billeder/badge1.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
   
 }

 
 
 .læsmere {
     background-image: url( 'billeder/button.png');
     background-size: 100% 100%;
   background-repeat: no-repeat;
   height: 50px;
   background-color: transparent;  
   width: 200px;
   border: none;
   outline: none;
   cursor: pointer;
   position: absolute;
   font-size: 18px;
   font-family: 'Ubuntu', sans-serif;
     font-weight: 400;
     color: #fff;
     letter-spacing: 2.5px;
 position: absolute;
 margin-left: 0px;
 margin-right: 0px;
 bottom: 30%;
 left: 15%;
   -webkit-transition: 0.4s ease-in-out;
   transition: 0.4s ease-in-out;
 }
 
 .læsmere:hover,
   .læsmere:focus {
     background-image: url( 'billeder/button-hover.png' );
 
     opacity: 1;
     color: #fff;
    
   -webkit-transition: 0.4s ease-in-out;
   transition: 0.4s ease-in-out;
     }
 
  /* Nyheder */


  .nyheder {
    position: relative;
    z-index: 1;
   display: block;
   margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  .nyheder-mobil {
    display: none;
  }

.nyheder-h3 {
  position: relative;
  z-index: 3;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
font-size: 28px;
color: #5b6770;
text-align: center;
margin-top: -55px;
letter-spacing: 2.5px;
}




 /* Produkt kort */

 .main-mobil {
   display: none;
 }

.main{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-items: center;
}



.main img {
  display: block;
  margin: 10px auto;
  height: auto;
  max-width: 100%;
}



.cards {
  display: flex;
height: 700px;
width: 1400px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.cards_item {
  display: flex;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
}

@media (min-width: 70rem) {
  .cards_item {
    width: 100%;
  }
}

@media (min-width: 106rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid #bfc3c6;
  display: flex;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 1.3s ease-in-out;
  flex-direction: column;
  overflow: hidden;
}



.card_content {
  position: relative;
  height: 700px;
  
}



.nyhed {
  position: absolute;
  z-index: 44;
  top: -242px;
  left: -1px;
}



.card_title {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.bg {
  background-image: url(billeder/cards/headline.png);
  background-size: 100% 100%;
  height: 50px;
  
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}


.pris {
  position: relative;
  z-index: 1;
 display: block;
 margin: 0 auto;
  
}

.pris-p {
position: relative;
z-index: 3;
font-family: 'Ubuntu', sans-serif;
font-weight: 500;
font-size: 20px;
color: #5b6770;
text-align: center;
margin-top: -45px;
letter-spacing: 2.5px;
}

.lager {
  position: relative;
  z-index: 1;
 display: block;
 margin: 0 auto;
  
}

.lager-p {
position: relative;
z-index: 3;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
font-size: 10px;
color: #5b6770;
text-align: center;
margin-top: -35px;
letter-spacing: 2.5px;
}




.clickable {
  display: flex;
  justify-content: space-around;
  
 
  
  
}

.clickable-nostock {
  display: flex;
  justify-content: center;
  
 
  
  
}

.ikoner {
  display: inline-block;
  width: 50px;
  height: 50px;
  pointer-events: visible;
  background-size: cover;
  -webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}

.infoknap {
  display:block;
  margin:60px 5px auto 5px;
  cursor: pointer;
  
  background-image: url(billeder/cards/info.png);
}
.infoknap:hover,
.infoknap:focus {
  width: 190px;
  height: 55px;
  margin:60px -5px auto 0px;
  background-image: url(billeder/cards/info-hover.png);
}

.kurvknap {
  display:block;
  margin:60px 5px auto 5px;
  cursor: pointer;
  background-image: url(billeder/cards/kurv.png);
}
.kurvknap:hover,
.kurvknap:focus {
  width: 185px;
  height: 55px;
  margin:60px 0px auto -5px;
  background-image: url(billeder/cards/kurv-hover.png);
}

.tilbud {
  position: relative;
  z-index: 11;
 display: block;
 margin: 0 auto;
  
}

.tilbud-p {
position: relative;
z-index: 13;
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
font-size: 10px;
color: #5b6770;
text-align: center;
margin-top: -25px;
text-decoration: #904957 line-through;
letter-spacing: 2.5px;
}


.input-number {
  width: 60px;
  padding: 0 12px;
  text-align: center;
  outline: none;
  border-radius: 4px 0 0 4px;
  background-image: url(billeder/cards/input.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 30px;
  user-select: none;
  border-radius: 4px 0 0 4px;
  color: black;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 30px;
  background: transparent;
  color: transparent;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
  background-image: url(billeder/cards/input.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.input-number-decrement {
  border-right: none;
  border-radius: 20px 0px 0px 20px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0px 20px 20px 0px;
}

.up {
  background-image: url(billeder/cards/up.png);
  background-repeat: no-repeat;
position: relative;
z-index: 56;
background-position: center;
background-size: 15px;
}

.down {
  background-image: url(billeder/cards/down.png);
  background-repeat: no-repeat;
position: relative;
z-index: 56;
background-position: center;
background-size: 15px;
}

.inputfelt {
  padding-left: 45px;
}


/* Footer*/

.footer {
  display: block;
  background-color: #353e4f;
  margin-top: 80px;
  height: 500px;
  background-image: url(billeder/footer/hjerte.png);
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-size: 100% 97%;
}

.footer-mobil {
  display: none;
}

.thinbar {
  max-width: 100%;
  height: auto;
}



.footer .logoimg {
  position: absolute;
  bottom: 350px;
  right: 27%;
  max-width: 100%;
  height: auto;
  
}

.footer .navn {
  
  position: absolute;
  bottom: 335px;
  right: 10%;
  letter-spacing: 2px;
  color: #878f9c;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.footer-logo {
  position: absolute;
  bottom: 450px;
  right: 10%;
}

.slider-adresse {
  position: absolute;
  display: block;
  right: 10%;
  bottom: 150px;
 
}

.slider-adresse img {
  display: block;
  margin-bottom: 20px;
}

.adresse {
  display: block;
  text-align: right;
  letter-spacing: 2px;
  color: #878f9c;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;

}

.adresse-tlf {
  display: block;
  text-align: right;
  letter-spacing: 2px;
  color: #878f9c;
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;

}

.footer-line {
  display: block;
  width: 80%;
  height: auto;
  position: absolute;
  bottom: 3.5%;
  left: 10%;
}

.bund-line {
  
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
bottom: 1%;
  max-width: 100%;
  height: auto;
}

.span-margin {
  margin: 0px 30px;
}

.footer-info {
  position: absolute;
  display: block;
  left: 10%;
  bottom: 5%;
 pointer-events: none;
}

.footer-info img{
  display: block;
  margin-top: 50px;
}

.footer-info p{
  display: block;
  margin-top: 50px;
  letter-spacing: 2px;
  color: #878f9c;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

.info-footer {
  display: block;
  text-align: left;
  letter-spacing: 2px;
  color: #9fc2d8;
  font-size: 0.8vw;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;

}

.info-footer strong {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  letter-spacing: 2.5px;
 
}

.info-footer a {
  text-decoration: none;
  color: #9fc2d8;
}



button {
  padding-top: 10px;
  padding-bottom: 9px;
}


.handelsbetingelser {
  background-image: url( 'billeder/footer/button.png');
  background-size: 100% 100%;
background-repeat: no-repeat;
height: 40px;
background-color: transparent;  
width: 250px;
border: none;
outline: none;
cursor: pointer;
position: absolute;
font-size: 15px;
font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #878f9c;
  letter-spacing: 1.5px;
position: absolute;
left: 10%;
  bottom: 10.5%;
-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}

.handelsbetingelser:hover,
.handelsbetingelser:focus {
  background-image: url( 'billeder/footer/button-hover.png' );

  opacity: 1;
  color: #fff;
 
-webkit-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
  }


/* footer slut*/


}